html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;

}
.page{
  background-image: url(/images/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}
.container{
  width: 1290px;
  margin: 0 auto;

}
.header {
  margin-top: 100px;

}
.header__title {
  text-align: center;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'Pacifico', cursive;
  color: #0F253B;
}
.product {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}
.product__page {
  
  margin: 0 10px;
}
.product__page:hover {
  color: black;  
}
.product__link {
  text-align: center;
  display: block;
  width: 180px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #153453;
  text-decoration: none;
  color: #153453;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Shadows Into Light', cursive;
  background-color: rgba(0, 0, 0, .2);
  font-weight: 500;
}
.product__link:hover {
  color: black;
  font-weight: 500;
  background-color: #CFCCC3;
  box-shadow: 12px 13px 23px -10px rgba(24, 48, 66, 0.69);
}