$dark-primary: #151515;
$dark-secondary: #222222;
$light-primary: #ffffff;
$light-secondary: #efefef;
$gray-primary: #f4f4f4;
$gray-secondary: #ebebeb;
$gray-third: #cfcfcf;
$green-primary: #24b47e;
$green-secondary: #319e75;
