.bicycle-card {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s linear;
  &__wrapper {
    box-sizing: border-box;
    background-color: $gray-primary;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
    border-radius: 20px;
    padding: 20px;
  }
  &__image {
    width: 100%;
    object-fit: contain;
  }
  &__description {
    box-sizing: border-box;
    margin: 19px 0 0 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $dark-primary;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &:hover {
    opacity: 0.7;
    transform: scale(1.01);
  }
  &__buttons {
    margin: 20px 0 0 0;
    display: none;
    // height: 4px;
  }
  &__button {
    padding: 0;
    border: none;
    box-sizing: border-box;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    margin: 0 5px;
    background: #cacaca;
    cursor: pointer;
    &_active {
      background: #151515;
    }
  }
}
@media screen and (max-width: 768px) {
  .bicycle-card {
    filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
    &__description {
      text-align: center;
    }
    &__second {
      display: none;
    }
    &__third {
      display: none;
    }
    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
