.mailing {
  &__title {
    display: block;
    margin: 0;
    max-width: 229px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $dark-primary;
  }
  &__wrapper {
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 50px 0 80px 0;
    max-width: 360px;
    min-width: 284px;
    height: 50px;
    border: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &__input {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    opacity: 0.7;
  }
  &__button {
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    &_visible {
      display: block;
    }
  }
  &__contact-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
  }
}
@media screen and (max-width: 1200px) {
  .mailing {
    padding: 0;
    &__wrapper {
      margin: 39px 0 96px 0;
    }
  }
}
